{{- $choices := list "river" "mango" "niri" -}}
{{- $windowmanager := promptChoiceOnce . "windowmanager" "Which window manager you want to install?" $choices -}}
[data]
    windowmanager = {{- $windowmanager | quote -}}
