{{- $windowmanager := "river" -}}
{{- if stat "/usr/bin/river" -}}
{{-   $windowmanager = "river" -}}
{{- else if stat "/usr/bin/mangowc" -}}
{{-   $windowmanager = "mangowc" -}}
{{- end }}

[data]
    windowmanager = "{{ $windowmanager }}"
