{{- $p := .colorScheme.palette -}}
{{- $r := .colorScheme.rgb -}}

# ------[Recolor Keybind]------
set recolor true
map <C-i> recolor
# ------[Smooth Scrolling]------
map j feedkeys "<C-Down>"
map k feedkeys "<C-Up>"
# ------[Color Theme, Base16 Nord]------
# Author: "arcticicestudio"
set default-bg "#{{ $p.base00 }}"
set default-fg "#{{ $p.base01 }}"
set statusbar-fg "#{{ $p.base04 }}"
set statusbar-bg "#{{ $p.base02 }}"
set inputbar-bg "#{{ $p.base00 }}"
set inputbar-fg "#{{ $p.base07 }}"
set notification-bg "#{{ $p.base00 }}"
set notification-fg "#{{ $p.base07 }}"
set notification-error-bg "#{{ $p.base00 }}"
set notification-error-fg "#{{ $p.base08 }}"
set notification-warning-bg "#{{ $p.base00 }}"
set notification-warning-fg "#{{ $p.base08 }}"
set highlight-color "rgba({{ $r.base0A }}, 0.5)"
set highlight-active-color "rgba({{ $r.base0D }}, 0.5)"
set completion-bg "#{{ $p.base01 }}"
set completion-fg "#{{ $p.base0D }}"
set completion-highlight-fg "#{{ $p.base07 }}"
set completion-highlight-bg "#{{ $p.base0D }}"
set recolor-lightcolor "#{{ $p.base00 }}"
set recolor-darkcolor "#{{ $p.base06 }}"
