{
  "isLightMode": false,
  "wallpaperPath": "/home/{{ .chezmoi.hostname }}/Wallpapers/tokyonight.jpg",
  "wallpaperLastPath": "/home/{{ .chezmoi.hostname }}/Wallpapers",
  "profileLastPath": "",
  "perMonitorWallpaper": false,
  "monitorWallpapers": {},
  "doNotDisturb": false,
  "nightModeEnabled": false,
  "nightModeTemperature": 4000,
  "nightModeAutoEnabled": false,
  "nightModeAutoMode": "time",
  "nightModeStartHour": 18,
  "nightModeStartMinute": 0,
  "nightModeEndHour": 6,
  "nightModeEndMinute": 0,
  "latitude": 0,
  "longitude": 0,
  "nightModeLocationProvider": "",
  "pinnedApps": [],
  "selectedGpuIndex": 0,
  "nvidiaGpuTempEnabled": false,
  "nonNvidiaGpuTempEnabled": false,
  "enabledGpuPciIds": [],
  "wallpaperCyclingEnabled": true,
  "wallpaperCyclingMode": "interval",
  "wallpaperCyclingInterval": 300,
  "wallpaperCyclingTime": "06:00",
  "monitorCyclingSettings": {},
  "lastBrightnessDevice": "",
  "launchPrefix": "",
  "wallpaperTransition": "fade",
  "includedTransitions": [
    "fade",
    "wipe",
    "disc",
    "stripes",
    "iris bloom",
    "pixelate",
    "portal"
  ],
  "acMonitorTimeout": 300,
  "acLockTimeout": 300,
  "acSuspendTimeout": 0,
  "acHibernateTimeout": 0,
  "batteryMonitorTimeout": 300,
  "batteryLockTimeout": 300,
  "batterySuspendTimeout": 0,
  "batteryHibernateTimeout": 0,
  "lockBeforeSuspend": false
}
